body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header img {
    max-width: 100px;
    margin-right: 10px;
}

h1 {
    color: #333;
}

h2 {
    margin-top: 20px;
}

.articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.article-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.article-card h3 {
    margin-top: 0;
}

.author {
    font-style: italic;
}

.date {
    font-size: 0
}